/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

html {
  box-sizing: border-box; }

template,
[hidden] {
  display: none; }

*,
:before,
:after {
  box-sizing: inherit; }

address {
  font-style: inherit; }

dfn,
cite,
em,
i {
  font-style: italic; }

b,
strong {
  font-weight: 700; }

a {
  text-decoration: none; }
  a svg {
    pointer-events: none; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

p,
figure {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

/**
 * 1. Single taps should be dispatched immediately on clickable elements
 */
a, area, button, input, label, select, textarea, [tabindex] {
  /* [1] */
  touch-action: manipulation; }

[hreflang] > abbr[title] {
  text-decoration: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCCCCC; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
  /* [1] */ }

audio:not([controls]) {
  display: none;
  height: 0; }

img,
svg {
  max-width: 100%;
  /* [2] */
  height: auto; }
  img[width], img[height],
  svg[width],
  svg[height] {
    /* [4] */
    max-width: none; }

img {
  font-style: italic;
  /* [4] */ }

svg {
  fill: currentColor;
  /* [5] */ }

button,
.c-button {
  display: inline-block;
  /* [1] */
  overflow: visible;
  /* [2] */
  margin: 0;
  /* [3] */
  padding: 0;
  outline: 0;
  border: 0;
  background: none transparent;
  color: inherit;
  vertical-align: middle;
  /* [4] */
  text-align: center;
  /* [3] */
  text-decoration: none;
  text-transform: none;
  font: inherit;
  /* [5] */
  line-height: normal;
  cursor: pointer;
  /* [6] */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  button:focus, button:hover,
  .c-button:focus,
  .c-button:hover {
    text-decoration: none; }

html {
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
  color: #222222;
  font-family: sans-serif;
  line-height: 1.5;
  /* [1] */ }
  @media (max-width: 699px) {
    html {
      font-size: 12px; } }
  @media (min-width: 700px) and (max-width: 999px) {
    html {
      font-size: 13px; } }
  @media (min-width: 1000px) and (max-width: 1199px) {
    html {
      font-size: 14px; } }
  @media (min-width: 1200px) and (max-width: 1599px) {
    html {
      font-size: 16px;
      /* [1] */ } }
  @media (min-width: 1600px) and (max-width: 1999px) {
    html {
      font-size: 18px; } }
  @media (min-width: 2000px) and (max-width: 2399px) {
    html {
      font-size: 21px; } }
  @media (min-width: 2400px) {
    html {
      font-size: 24px; } }
  html.is-loading {
    cursor: wait; }
  html.has-scroll-smooth {
    overflow: hidden; }
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

::-moz-selection {
  background-color: #FFFFFF;
  color: #3297FD;
  text-shadow: none; }

::selection {
  background-color: #FFFFFF;
  color: #3297FD;
  text-shadow: none; }

a {
  color: #1A0DAB; }
  a:focus, a:hover {
    color: #13097c; }

.o-scroll {
  min-height: 100vh; }

.o-container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 3.75rem;
  padding-left: 3.75rem;
  max-width: 132.5rem; }

/**
 * Create ratio-bound content blocks, to keep media (e.g. images, videos) in
 * their correct aspect ratios.
 *
 * http://alistapart.com/article/creating-intrinsic-ratios-for-video
 *
 * 1. Default cropping is a 1:1 ratio (i.e. a perfect square).
 */
.o-ratio {
  position: relative;
  display: block;
  overflow: hidden; }
  .o-ratio:before {
    display: block;
    padding-bottom: 100%;
    /* [1] */
    width: 100%;
    content: ""; }

.o-ratio_content,
.o-ratio > img,
.o-ratio > iframe,
.o-ratio > embed,
.o-ratio > object {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%; }

.o-layout {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  margin-left: 0; }
  .o-layout.-gutter {
    margin-left: -3.75rem; }
  .o-layout.-gutter-small {
    margin-left: -1.875rem; }
  .o-layout.-center {
    text-align: center; }
  .o-layout.-right {
    text-align: right; }
  .o-layout.-reverse {
    direction: rtl; }
    .o-layout.-reverse.-flex {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      flex-direction: row-reverse; }
  .o-layout.-flex {
    display: -webkit-box;
    display: flex; }
    .o-layout.-flex.-top {
      -webkit-box-align: start;
      align-items: flex-start; }
    .o-layout.-flex.-middle {
      -webkit-box-align: center;
      align-items: center; }
    .o-layout.-flex.-bottom {
      -webkit-box-align: end;
      align-items: flex-end; }
  .o-layout.-stretch {
    -webkit-box-align: stretch;
    align-items: stretch; }

.o-layout_item {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-size: 1rem;
  padding-left: 0; }
  .o-layout.-gutter > .o-layout_item {
    padding-left: 3.75rem; }
  .o-layout.-gutter-small > .o-layout_item {
    padding-left: 1.875rem; }
  .o-layout.-middle > .o-layout_item {
    vertical-align: middle; }
  .o-layout.-bottom > .o-layout_item {
    vertical-align: bottom; }
  .o-layout.-center > .o-layout_item,
  .o-layout.-right > .o-layout_item,
  .o-layout.-reverse > .o-layout_item {
    text-align: left; }
  .o-layout.-reverse > .o-layout_item {
    direction: ltr; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0; }
  .c-scrollbar:hover {
    -webkit-transform: scaleX(1.45);
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }

.c-heading {
  line-height: 1.5;
  margin-bottom: 1.875rem; }
  .c-heading.-h1 {
    font-size: 2.25rem; }
  .c-heading.-h2 {
    font-size: 1.75rem; }
  .c-heading.-h3 {
    font-size: 1.5rem; }
  .c-heading.-h4 {
    font-size: 1.25rem; }
  .c-heading.-h5 {
    font-size: 1.125rem; }
  .c-heading.-h6 {
    font-size: 1rem; }

.c-button {
  padding: 0.9375rem 1.25rem;
  background-color: lightgray; }
  .c-button:focus, .c-button:hover {
    background-color: darkgray; }

.c-distortion {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-size: 1rem;
  padding-left: 0;
  position: relative;
  margin: 0;
  display: inline-block; }
  .c-distortion::before {
    content: "";
    display: block;
    padding-bottom: 78%; }
  .c-distortion canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; }
  @media (min-width: 1000px) {
    .c-distortion {
      width: 40%; } }
  .c-distortion.is-loading {
    background-color: rgba(0, 0, 0, 0.2); }

/* stylelint-disable */
.u-2\:1::before {
  padding-bottom: 50%; }

.u-4\:3::before {
  padding-bottom: 75%; }

.u-16\:9::before {
  padding-bottom: 56.25%; }

/* stylelint-enable */
.u-1\/1 {
  width: 100% !important; }

.u-1\/2 {
  width: 50% !important; }

.u-2\/2 {
  width: 100% !important; }

.u-1\/3 {
  width: 33.33333% !important; }

.u-2\/3 {
  width: 66.66667% !important; }

.u-3\/3 {
  width: 100% !important; }

.u-1\/4 {
  width: 25% !important; }

.u-2\/4 {
  width: 50% !important; }

.u-3\/4 {
  width: 75% !important; }

.u-4\/4 {
  width: 100% !important; }

.u-1\/5 {
  width: 20% !important; }

.u-2\/5 {
  width: 40% !important; }

.u-3\/5 {
  width: 60% !important; }

.u-4\/5 {
  width: 80% !important; }

.u-5\/5 {
  width: 100% !important; }

@media (min-width: 700px) {
  .u-1\/2\@from-small {
    width: 50%; } }
